header{
    height: 30px;
    background-color: aqua;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 30px;
    width: 30px;
}
.userImg{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    object-fit: cover;
}
.logoContainer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    gap: 5px;
}
.searchContainer{
    background: transparent;
    border: 0px;
    width: 230px;
}

.search{
    border: 1px solid brown;
    padding: 8px;
    border-radius: 30px;
    height: 12px;
    width: 250px;
}
